root = false

# C# files
[*.cs]

#### XMLDocs validation ####
# CS1573: Parameter 'parameter' has no matching param tag in the XML comment for 'parameter' (but other parameters do)
dotnet_diagnostic.CS1573.severity = suggestion

# CS1591: Missing XML comment for publicly visible type or member 'Type_or_Member'
dotnet_diagnostic.CS1591.severity = suggestion

# CS1712: Type parameter 'type parameter' has no matching typeparam tag in the XML comment on 'type' (but other type parameters do)
dotnet_diagnostic.CS1712.severity = suggestion

# SA1601: Partial elements should be documented
dotnet_diagnostic.SA1601.severity = suggestion

#### Code quality ####

# CA1016: Mark assemblies with AssemblyVersionAttribute
# Test assemblies are not distributed; this also fires as a false positive in
# Codacy which compiles files outside the project context.
dotnet_diagnostic.CA1016.severity = none

# MA0051: Method is too long
dotnet_diagnostic.MA0051.severity = suggestion

#### Naming conventions ####

# VSTHRD200: Use "Async" suffix for async methods
# Just about every test method is async, doesn't provide any real value and clutters up test window
dotnet_diagnostic.VSTHRD200.severity = none
